# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Java
*.class
*.log

# Maven
target/

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Exportaciones
*.jar
*.war
*.zip

# Archivos temporales
hs_err_pid*
replay_pid*